$primary-font: "Space Mono";
$primary-colour: #1D84B5;
$highlight-colour:#53A2BE;
$accent-colour: #888686;

$header-margin: 1rem;

/* Full page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: $primary-font, sans-serif;
    color: $accent-colour;
}

a {
    text-decoration: none;
}

a:hover {
    .link-text {
        text-decoration: underline;
    }
}

li {
    list-style: none;
}

p {
    font-size: 0.9rem;
}

b {
    color: $highlight-colour;
    font-weight: bold;
}

h2 {
    color: $primary-colour;
}

.container {

    /* Set up proportionate scaling */
    width: 100%;
    height: 100%;
	
    /* Set up positioning */
    top: 0;
    left: 0;

    overflow-x: hidden;
}

/*General Formatting*/

.portrait {
    border-radius: 50%;
    width: 16rem;
}

.portrait-container {
    display: flex; 
    justify-content: center;
    margin: 2rem 0rem;
}

.paragraph-link {
    color: $highlight-colour;
    text-decoration: underline;
}

.emoji {
    font-weight: normal;
}

/*Menu*/
.menu {
    display: none;
    position: fixed;
    background-color: $primary-colour;
    width: 100%;
    height: 100vh;
    top: 0rem;
}

.menu.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
        font-size: 2rem;
        margin: 1rem;
        text-align: center;

        a {
            color: white;
            font-weight: bold;
        }
    }
}

/*Header*/
.header {
    display: flex;
    justify-content: flex-end;

    position: fixed;
    top: 0;

    width: 100%;
}

.menu-button-asset {
    width: 3rem;
    height: auto;
    fill: $primary-colour;
    margin: $header-margin;
    cursor: pointer;
}

.toggle-menu-button-asset {
    fill: white;
}

/* Intro */
.intro {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.intro-text {
    padding: 0rem 2rem;
}

.greeting-container {
    padding-top: 5rem;
    
    h1 {
        color: $primary-colour;
    }
}

.down-arrow-container {
    display: flex;
    justify-content: center;

    // padding-bottom: 2rem;

    position: absolute;
    bottom: 0;
    left: 0;

}

#fun_emoji {
    cursor: pointer;
    transition: 0.1s;
}

#fun_emoji:hover {
    font-size: 7rem;
}

#fun_hint {
    color:$accent-colour;
    font-weight: normal;
    font-size: 1rem;
}

//animation
.down-arrow {
    fill: $primary-colour;
    animation: float 1.5s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-0.75rem);
	}
	100% {
		transform: translateY(0px);
	}
}

/* About Me */
.about {
    margin: 2rem 2rem;
    
    .about-bio {
        margin: 1rem 0rem;
    }

    .fun-portrait {
        border-radius: 50%;
    }
}

/* Toolset */
.toolset {
    margin: 2rem 2rem;
}

.skill-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1rem;
    width: 4rem;
    
    svg {
        width: 4rem;
        height: auto;
    }
}

/* Footer */
.footer {
    width: 100%;

    background-color: rgba(83, 162, 190, 0.3);
}

.footer-container {
    margin: 0rem 2rem;
}

.socials-container {
    padding: 2rem 0rem;
}

.socials {
    display: flex;
    justify-content: center;

    svg {
        width: 3rem;
        height: auto;
        margin: 1rem 2rem;
        fill: $primary-colour;
    }
}

.ingredients {
    background-color: $primary-colour;
    color: white;
    display: flex;
    justify-content: center;

    p {
        text-align: center;
        margin: 1rem;
    }
}

/*Animation CSS*/
.fade-in {
    animation: fadeIn ease 0.1s;

}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

.fade-out {
    animation: fadeOut ease 0.2s;
}

@keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
}


/* Grid View CSS */
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media screen and (min-width: 600px) {
    #pro-portrait {
        width: 24rem;
    }
}

@media screen and (min-width: 769px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}  

    .main-content {
        margin: 0 20%;
    }

    .portrait {
        width: 12rem;
    }

    .intro {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .greeting-container {
            padding: 0;
        }

        .intro-text {
            transform: translateY(-5rem);
        }

        .portrait-container {
            transform: translateY(-5rem);
        }

        #pro-portrait {
            width: 20rem;
        }
    }

    .about {
        margin: 4rem 0rem;
        
        .about-content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .portrait-container {
            margin: 0;
        }

    }

    .toolset {
        margin: 4rem 0rem;

       .skill-container {
        justify-content: flex-start;
        } 
    }
    
    .footer {
        
        svg {
            margin: 1rem;
            
        }

        .footer-container {
            margin: 0rem 20%;
        }
        
        .socials {
            justify-content: flex-start;

            .bi-instagram {
                margin-left: 0;
            }
        }
    }
}