/* Full page */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Space Mono", sans-serif;
  color: #888686;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

p {
  font-size: 0.9rem;
}

b {
  color: #53A2BE;
  font-weight: bold;
}

h2 {
  color: #1D84B5;
}

.container {
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  top: 0;
  left: 0;
  overflow-x: hidden;
}

/*General Formatting*/
.portrait {
  border-radius: 50%;
  width: 16rem;
}

.portrait-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0rem;
}

.paragraph-link {
  color: #53A2BE;
  text-decoration: underline;
}

/*Menu*/
.menu {
  display: none;
  position: fixed;
  background-color: #1D84B5;
  width: 100%;
  height: 100vh;
  top: 0rem;
}

.menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-list-container li {
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

.menu-list-container li a {
  color: white;
  font-weight: bold;
}

/*Header*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
}

.menu-button-asset {
  width: 3rem;
  height: auto;
  fill: #1D84B5;
  margin: 1rem;
  cursor: pointer;
}

.toggle-menu-button-asset {
  fill: white;
}

/* Intro */
.intro {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro-text {
  padding: 0rem 2rem;
}

.greeting-container {
  padding-top: 5rem;
}

.greeting-container h1 {
  color: #1D84B5;
}

.down-arrow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.down-arrow {
  fill: #1D84B5;
  -webkit-animation: float 1.5s ease-in-out infinite;
          animation: float 1.5s ease-in-out infinite;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-0.75rem);
            transform: translateY(-0.75rem);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-0.75rem);
            transform: translateY(-0.75rem);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/* About Me */
.about {
  margin: 2rem 2rem;
}

.about .about-bio {
  margin: 1rem 0rem;
}

.about .fun-portrait {
  border-radius: 50%;
}

/* Toolset */
.toolset {
  margin: 2rem 2rem;
}

.skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  width: 4rem;
}

.skill img {
  width: 4rem;
}

/* Footer */
.footer {
  width: 100%;
  background-color: rgba(83, 162, 190, 0.3);
}

.footer-container {
  margin: 0rem 2rem;
}

.socials-container {
  padding: 2rem 0rem;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials svg {
  width: 3rem;
  height: auto;
  margin: 1rem 2rem;
  fill: #1D84B5;
}

.ingredients {
  background-color: #1D84B5;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ingredients p {
  text-align: center;
  margin: 1rem;
}

/*Animation CSS*/
.fade-in {
  -webkit-animation: fadeIn ease 0.1s;
          animation: fadeIn ease 0.1s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  -webkit-animation: fadeOut ease 0.2s;
          animation: fadeOut ease 0.2s;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Grid View CSS */
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media screen and (min-width: 600px) {
  #pro-portrait {
    width: 24rem;
  }
}

@media screen and (min-width: 769px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  .main-content {
    margin: 0 20%;
  }
  .portrait {
    width: 12rem;
  }
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro .greeting-container {
    padding: 0;
  }
  .intro .intro-text {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  .intro .portrait-container {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  .intro #pro-portrait {
    width: 20rem;
  }
  .about {
    margin: 4rem 0rem;
  }
  .about .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .portrait-container {
    margin: 0;
  }
  .toolset {
    margin: 4rem 0rem;
  }
  .toolset .skill-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer svg {
    margin: 1rem;
  }
  .footer .footer-container {
    margin: 0rem 20%;
  }
  .footer .socials {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer .socials .bi-instagram {
    margin-left: 0;
  }
}
/*# sourceMappingURL=shared.css.map */